html{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(40, 40, 40);
  color: azure;
}

.home {
    text-align: center;
  }

.links{
  align-items: center;
  box-shadow: 5px 5px lightblue;
  height: 50px;
  width: 100px;
  background-color: orange;
  color: black;
  margin-right: 30px;
  margin-left: 30px;
}

.pics{
  align-items: center;
}

#rainbowMask{
  font-style: italic;
  -webkit-background-clip: text;
  background-image: linear-gradient(to left,tan, brown);
  background-clip: text;
  color: transparent;
}

#home{
  text-align: right;
}

#sectionbreak{
  height: 1px;
  background-color: grey;
  margin-bottom: 10px;
  max-width: fit-content;
}

#homepic{
  size: 25%;
  width: 200;
  height: 200;
  margin-left: 50px;
  margin-right: 50px;
}

#buttons{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#returnLink{
  float: right;
  align-items: right;
  box-shadow: 5px 5px lightblue;
  height: 30px;
  width: 75px;
  background-color: orange;
  color: black;
  margin-right: 30px;
  margin-left: 30px;
}

.title{
  font-size: 16px;
}

#boomPic{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 55%;
  width: 55%
}

#jquery{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
